/** General styles **/

* {
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 16px;
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-

/* * * * Header * * * */

header {
    background-color: #F5EFED;
    font-size: 25px;
    color: #173A52;
}

.nav-style {
    color: #173A52;
    text-decoration: none;
}
