/** General styles **/

* {
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 16px;
}

.bg-darkblue {
    background-color: #173A52;
}

.bg-beige {
    background-color: #F5EFED;
}

.bg-dark-orange {
    background-color: #F18D6D;
}

.bg-light-orange {
    background-color: #EFBEA5;
}

.dark-blue-font {
    color: #173A52;
}

.beige-font {
    color: #F5EFED;
}

.bold-font {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.light-font {
    font-weight: 50;
}

.f-size-1 {
    font-size: 3em;
}

.f-size-2 {
    font-size: 2.5em;
}

.f-size-3 {
    font-size: 2em;
}

.f-size-4 {
    font-size: 1.5em;
}

.f-size-5 {
    font-size: 1.25em;
}

.italic-p2 {
    padding-right: 2em;
    font-style: italic;
}


/** Header **/
header nav {
    font-size: 20px;
}

.nav-style {
    color: #173A52;
    text-decoration: none;
}

.nav-style:hover {
    color: black;
    font-size: 21px;
}

/** Main **/
.info-card, .skills-card {
    background-color: white;
    border: solid 4px #E6D7C3;
    border-radius: 2em;
    padding: 2em;
}

.project-text-wrapper {
    height: 200px;
}

.btn-container {
    margin-top: 2em;
    margin-bottom: 3em;
}

.btn {
    padding: 1em;
    font-weight: bold;
}

.btn:hover {
    color: #EFBEA5;
    padding: 1.15em;
}

.btn-orange {
    color: #173A52;
}

.btn-orange:hover {
    color: #28668f;
}

.card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.card-border {
    border-bottom: #E6D7C3 4px solid;
}

.tools {
    background-color: #F5EFED;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.skill-item-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    justify-content: center;
}

.skill-img-wrapper {
    height: 50px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}